.About {
  background-color: crimson;
  background-repeat: no-repeat;
  height: 6cm;
  span {
    display: flex;
    padding-bottom: 15px;
    font-weight: bold;
  }
}
.About__list {
  padding: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
  float: right;
}
.About__content {
  padding: 25px 35px;
}
@media screen and (max-width: 736px) {
  body {
    width: 1500px;
  }
  p {
    font-size: 100%;
  }
}
